.GitMasterPortlet {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    margin: 0 0 20px;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.GitMasterPortlet .label {
    font-weight: normal;
    padding: 2px 4px 1px;
}
.GitMasterPortlet .header-app {
    background-color: #5373a9;
    border-radius: 3px 3px 0 0;
    color: #fff;
    margin: -11px -11px 10px;
    padding: 10px;
    text-align: center;
    text-shadow: none;
}
.GitMasterPortlet .header {
    margin-bottom: 20px;
}
.GitMasterPortlet .uiGrayLightBox {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.GitMasterPortlet .nav {
    margin-bottom: 0px;
}
.GitMasterPortlet a.close {
    float: none;
    font-size: 15px;
    padding: 0 2px;
}
.GitMasterPortlet .list-memberships span.membership {
    display: block;
}
.GitMasterPortlet .header li {
    font-size: 16px;
    line-height: 22px;
}
.GitMasterPortlet .header li .divider {
    padding-right: 0;
    padding-left: 0;
    margin-left: 5px;
    vertical-align: top;
    display: inline-block;
}
.GitMasterPortlet .header li .divider > i {
    margin-top: 6px!important;
}
.GitMasterPortlet .formCreateProject {
    display: none;
}
.table-project thead th,
.table-task thead th{
    white-space: nowrap;
}

.table-task .done {
	text-decoration: line-through;
}

.toolbar-table h5 {
    margin : 4px 0 0;
}

.task-detail-info {
    padding: 15px 10px;
}
.task-detail-info .row-fluid {
    line-height: 30px;
}


/* Utilities */
.italic {
    font-style: italic;

}
.w45 {
    width: 45px;
}
.table .text-center,
.text-center {
    text-align: center;
}

.comments li {
    padding: 7px 10px;
}
.comments li textarea.span12 {
    max-width: 100%;
    min-width: 100%;
}
.comments li:nth-child(even),
.comments li.even {
    //background-color: #f9f9f9;
}
.comments li.load-more-item .load-more-comment {
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    display: block;

}
.comments li.load-more-item .load-more-comment span {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 0 10px;
    background-color: #fff;
}
.comments li.load-more-item .load-more-comment:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eee;
    z-index: 1;
    top: 40%;
    left: 0;
    position: absolute;
}
.comments li.load-more-item .load-more-comment:before {
    position: absolute;
    content: "";
    left: 50%;
    margin-left: -6px;
    bottom: 100%;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #ccc;

}
.comments li.comment-box {
    background: none;
}
.comments li.item-comment {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f9f9f9;
}
.comments li.item-comment .edit {
    padding-top: 10px;
}
.comments li.item-comment .time {
    margin-right: 5px;
    color: #666;
    font-size: 12px;
}
.comments li.item-comment:hover {
    background-color: #f9f9f9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.comments ul li:first-child {
    border: none;
    padding:  0 10px;
}
.task-label + .task-label {
    margin-left: 5px;
}

td.contain-btn button.btn {
    border-color: transparent;
    background: none;
    box-shadow: none;
}
td.contain-btn button.btn .caret{
    visibility: hidden;
}
td.contain-btn button.btn:hover{
    border-color: #ccc;
}
td.contain-btn button.btn:hover .caret{
    visibility: visible;
}
/* Dashboard */
.dashboard {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.dashboard .column {
	background-color: #e9e9e9;
	display: table-cell;
	border: 10px solid #FFFFFF;
}

.dashboard .state {
	background-color: #FFFFFF;
	text-align: center;
} 

.dashboard .task {
	border: 1px solid #cccccc;
	margin: 10px 0px;
	background-color: #FFFFFF;
	cursor: move;
}