.GitMasterPortlet {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    margin: 0 0 20px;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.GitMasterPortlet .label {
    font-weight: normal;
    padding: 2px 4px 1px;
}
.GitMasterPortlet .header-app {
    background-color: #5373a9;
    border-radius: 3px 3px 0 0;
    color: #fff;
    margin: -11px -11px 10px;
    padding: 10px;
    text-align: center;
    text-shadow: none;
}
.GitMasterPortlet .header {
    margin-bottom: 20px;
}
.GitMasterPortlet .uiGrayLightBox {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.GitMasterPortlet .nav {
    margin-bottom: 0px;
}
.GitMasterPortlet a.close {
    float: none;
    font-size: 15px;
    padding: 0 2px;
}
.GitMasterPortlet .list-memberships span.membership {
    display: block;
}
.GitMasterPortlet .header li {
    font-size: 16px;
    line-height: 22px;
}
.GitMasterPortlet .header li .divider {
    padding-right: 0;
    padding-left: 0;
    margin-left: 5px;
    vertical-align: top;
    display: inline-block;
}
.GitMasterPortlet .header li .divider > i {
    margin-top: 6px!important;
}
.GitMasterPortlet .formCreateProject {
    display: none;
}
.table-project thead th,
.table-task thead th{
    white-space: nowrap;
}

.table-task .done {
	text-decoration: line-through;
}

.toolbar-table h5 {
    margin : 4px 0 0;
}

.task-detail-info {
    padding: 15px 10px;
}
.task-detail-info .row-fluid {
    line-height: 30px;
}


/* Utilities */
.italic {
    font-style: italic;

}
.w45 {
    width: 45px;
}
.table .text-center,
.text-center {
    text-align: center;
}

.comments li {
    padding: 7px 10px;
}
.comments li textarea.span12 {
    max-width: 100%;
    min-width: 100%;
}
.comments li:nth-child(even),
.comments li.even {
    /*//background-color: #f9f9f9;*/
}
.comments li.load-more-item .load-more-comment {
    text-align: center;
    padding-bottom: 10px;
    position: relative;
    display: block;

}
.comments li.load-more-item .load-more-comment span {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 0 10px;
    background-color: #fff;
}
.comments li.load-more-item .load-more-comment:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #eee;
    z-index: 1;
    top: 40%;
    left: 0;
    position: absolute;
}
.comments li.load-more-item .load-more-comment:before {
    position: absolute;
    content: "";
    left: 50%;
    margin-left: -6px;
    bottom: 100%;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid #ccc;

}
.comments li.comment-box {
    background: none;
}
.comments li.item-comment {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f9f9f9;
}
.comments li.item-comment .edit {
    padding-top: 10px;
}
.comments li.item-comment .time {
    margin-right: 5px;
    color: #666;
    font-size: 12px;
}
.comments li.item-comment:hover {
    background-color: #f9f9f9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.comments ul li:first-child {
    border: none;
    padding:  0 10px;
}
.task-label + .task-label {
    margin-left: 5px;
}

.GitMasterPortlet .contain-btn button.btn {
    border-color: transparent;
    background: none;
    box-shadow: none;
}
.GitMasterPortlet .contain-btn button.btn .caret{
    visibility: hidden;
}
.GitMasterPortlet .contain-btn button.btn:hover{
    border-color: #ccc;
}
.GitMasterPortlet .contain-btn button.btn:hover .caret{
    visibility: visible;
}
/* Dashboard */
.dashboard {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.dashboard .column {
	background-color: #e9e9e9;
	display: table-cell;
	border: 10px solid #FFFFFF;
}

.dashboard .state {
	background-color: #5373a9;
	color: #FFFFFF;
	padding: 10px 0px;
	text-align: center;
	border-radius: 4px 4px 0 0
} 

.dashboard .task {
	border: 1px solid #cccccc;
	margin: 10px 0px;
	background-color: #FFFFFF;
	cursor: move;
	padding: 10px;
}

.dashboard .task.done {
	text-decoration: line-through;
}
.GitMasterPortlet .task-label .badge {
    padding: 3px 6px;
}

.GitMasterPortlet .priority-in-detail .btn-priority-2
{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.GitMasterPortlet .priority-in-detail .btn-priority-2:hover {
    color: #ffffff;
    background-color: #51a351;
}
.GitMasterPortlet  .priority-in-detail .btn-priority-1 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.GitMasterPortlet .priority-in-detail .btn-priority-1:hover {
    color: #ffffff;
    background-color: #f89406;
}
.GitMasterPortlet .priority-in-detail .btn-priority-0 {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.GitMasterPortlet .priority-in-detail .btn-priority-0:hover {
    color: #ffffff;
    background-color: #bd362f;
}