.GitMasterPortlet {
    background: #ffffff;
    margin: 5px 10px;
}
.GitMasterPortlet .uiGrayLightBox {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.GitMasterPortlet .nav {
    margin-bottom: 0px;
}

.GitMasterPortlet .table {
	width: 90%;
}
.GitMasterPortlet a.close {
    float: none;
    font-size: 15px;
    padding: 0 2px;
}
.GitMasterPortlet #form-edit-project span.membership {
    display: block;
}
.GitMasterPortlet .header .breadcrumb {
	padding: 20px;
	font-size: 28px;
}